//cores do projeto

// Brand Colors

//primary colors
$primary-normal: #8BDB58;
$primary-green-dark: #7BC14D;
$primary-green-light: #A5FF6B;

//secundary colors
$secundary-normal: #DADADA;
$secundary-gray-dark: #BBB6B6;
$secundary-gray-light: #F2F2F2;

//auxiliary colors
$auxiliary-purple: #8C1D8F;
$auxiliary-purple-dark: #611263;
$auxiliary-purple-light: #AC30AF;

$auxiliary-orange: #DB6C42;
$auxiliary-orange-dark: #FA7E4F;
$auxiliary-orange-light: #C9613A;

//white colors
$white:#F9F9F9;
$white-dark:#EAEAEA;
$white-light:#FFFFFF;

//black colors
$black: #3C3C3C;
$black-dark: #1E1E1E;
$black-light: #555555;

//gray colors
$gray-1:#3C3C3C;
$gray-2:#565656;
$gray-3:#737373;
$gray-4:#909090;
$gray-5:#ACACAC;
$gray-6:#C7C7C7;
$gray-7:#E8E8E8;

//gradient colors

